{% render 'partials/head.liquid' %}

<section class="front-profile-card">
    <div>
        <div>
            <div>
                <h1> {{ person.name }}</h1>
                <h3> {{ person.custom.subkop }}</h3>
                <img src="https://avatars.githubusercontent.com/u/180160101?v=4" alt="picture of me"> 
            </div>
        </div>
    </div>
</section>

<section class="back-profile-card">
  <div>
    <div>
      <div>
        <h2> {{ person.custom.info-one }}</h2>
        <p> {{ person.custom.info-sec-one }}</p>
      </div>
    </div>
  </div>

  <div>
    <div>
      <div>
        <h2> {{ person.custom.info-two }}</h2>
        <p> mail: {{ person.custom.info-sec-mail }}</p>
        <p> tel: {{ person.custom.info-sec-mobile }}</p>
      </div>
    </div>
  </div>
</section>

{% render 'partials/foot.liquid' %}
